.topArea {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* フレームアニメーション */
.topImgBorder {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 450px;
  margin: 0 auto;
}

/*線の基点位置*/
.topImgBorder::before,
.topImgBorder::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background: black;
  /*線の形状*/
  width: 0;
  height: 3px;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}
.topImgBorder::before {
  right: 0;
  bottom: 0;
}
.topImgBorder::after {
  left: 0;
  top: 0;
}

/*線の基点位置2 spanタグ*/
.topImgStripe {
  display: block;
}
.topImgStripe::before,
.topImgStripe::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background: black;
  /*線の形状*/
  width: 3px;
  height: 0;
  /*アニメーションの指定*/
  transition: all 0.1s linear;
}

.topImgStripe::before {
  left: 0;
  bottom: 0;
}

.topImgStripe::after {
  right: 0;
  top: 0;
}

.topImgBorder::before,
.topImgBorder::after {
  animation-name: border-frame;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.topImgStripe::before,
.topImgStripe::after {
  animation-name: stripe-frame;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.topImgBorder::after {
  animation-delay: 0s; /*すぐ線を出現させる*/
}
.topImgStripe::after {
  animation-delay: 0.7s; /*線の出現を0.2秒遅らせる*/
}
.topImgBorder::before {
  animation-delay: 1.4s; /*線の出現を0.3秒遅らせる*/
}
.topImgStripe::before {
  animation-delay: 2.1s; /*線の出現を0.5秒遅らせる*/
}
/* アニメーション詳細 */
@keyframes border-frame {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes stripe-frame {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

/* トップ画像の編集 */
.imgArea {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.imgArea > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* レスポンシブ */
@media (max-width: 700px) {
  .topImgBorder {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .topImgBorder {
    height: 350px;
  }
}
@media (max-width: 500px) {
  .topArea {
    height: 90vh;
  }
  .topImgBorder {
    height: 300px;
  }
}

.topTitle {
  font-weight: 900;
  font-size: 12rem;
  color: #f0eb45;
  letter-spacing: 15px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1018px) {
  .topTitle {
    font-size: 9rem;
  }
}

@media (max-width: 767px) {
  .topTitle {
    font-size: 8rem;
  }
}

@media (max-width: 686px) {
  .topTitle {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  .topTitle {
    font-size: 3.2rem;
  }
}

.img {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 10%;
  bottom: 5%;
  background-image: url(../../images/Sitting.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  background-position: center;
}

@media (max-width: 834px) {
  .img {
    width: 200px;
    height: 200px;
    left: 5%;
    bottom: 0;
  }
}
