.btnArea {
  width: 100%;
  padding: 10px 0;
}

/* 横長ボタン */
.wideButton {
  color: black;
  display: block;
  max-width: 260px;
  margin: 3rem auto;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0;
  letter-spacing: 3px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
}

.wideButton::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: all 0.3s;
  font-size: 12px;
  top: 0;
  left: 0;
  z-index: -1;
}

.wideButton:hover::before {
  width: 100%;
}

.wideButton:hover {
  color: white;
}
