@media (min-width: 768px) {
  .main {
    width: 858px;
    padding: 30px;
    /* border-radius: 10px; */
    margin: 60px auto;
    border: 3px solid black;
    /* box-shadow: 8px 0px 10px 3px; */
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2); */
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px 6px rgba(0, 0, 0, 0.2); */
  }
}
